/*  ************************************************************************************************************************* */
/*  BASIC SETUP */
/*  ************************************************************************************************************************* */

* {
    margin: 0; /* all the margins and paddings are gone */
    padding: 0; /* all the margins and paddings are gone */
    box-sizing: border-box; /* all the margins and paddings are gone */
}

html {
    background-color: #ffffff;
    color: #222222;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 20px; /* THIS IS THE ONLY FONT SIZE FIXED. ALL THE FOLLOWINGS WILL BE ADAPTING RELATIVELY TO THIS ONE PARTICULAR */
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*  ************************************************************************************************************************* */
/*  REUSABLE COMPONENTS */
/*  ************************************************************************************************************************* */

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto; /* top right bottom left (responsive side-stretching) */
    /* margin: 0 auto; equivalent to the command above (top-bottom: 0, left-right: auto) */
}

section {
  padding: 80px 0px 80px 0px; /* the goal is to create white space but preserving the background color */
}

/* ------------------------------*/
/* BUTTONS */
/* ------------------------------*/

/*  the class btn style will be shared, while btn-full and btn-ghost will be specific
LINK-VISITED: 'link' and 'visited' provides the same style to both the <a> states (before and after visiting) */
.btn:link,
.btn:visited {
    display: inline-block; /* <a> is an in-line element, I need to convert it into a bloc for more customisation */
    padding: 10px 30px 10px 30px; /* top right buttom left */
    border-radius: 200px;
    text-decoration: none; /* avoid <a> decorations */
    font-weight: 300;
    color: #ffffff; /* "color" on its own refers to the font!!! not to the background */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* CSS3 for transitions when hovering */
}

.btn-full:link,
.btn-full:visited {
    background-color: #f56200;
    border: 1px solid #f56200; /* thickness - type - color: I need to add it because the ghost one will be 1px bigger otherwise
                                    BOX MOODEL: heigth and width of an element is given by: content + padding + margin*/
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #ffffff; /* thickness - type - color */
    color: #f56200;
}

/*  HOVER-ACTIVE: as well as for link-visited, we should implement some extra style for the hover-active state */
.btn:hover,
.btn:active {
    background-color: #8f3900;
}

.btn-full:hover,
.btn-full:active {
    background-color: #8f3900;
    border: 1px solid #8f3900;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #8f3900;
    border: 1px solid #8f3900;
    color: #ffffff;
}

/* ------------------------------*/
/* HEADINGS */
/* ------------------------------*/

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0; /* due to the normalization file, h1 has a top-bottom white stroke we need to get rid of (the background image does not cover the whole  display size otherwise */
    color: #ffffff;
    font-size: 240%; /* this is relative to the 20px in line 12*/
    word-spacing: 4px;
    margin-top: 0px;
    margin-bottom: 20px; /* this is to push bottons down a little bit without extending the h1 background */
    letter-spacing: 1px;
}

h2 {
    font-size: 180%; /* this is relative to the 20px in line 12*/
    word-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    content: " "; /* it creates the side-to-side line */
    width: 100px;
    height: 2px;
    background-color: #f56200;
    margin: 0px auto 0px auto; /* this is for centering purposes */
    margin-top: 30px; /* this is for creating white space to compensate the h1 margin-bottom: 30px; */
}

h3 {
    margin-bottom: 20px;
}

/* ------------------------------*/
/* PARAGRAPHS */
/* ------------------------------*/

p {
    color: #383838;
    font-weight: 200;
    font-size: 90%;
}

.long-copy {
    width: 70%; /* reduce the paragraph style to 70% of the html width. However, it won't be centered anymore */
    margin-left: 15%; /* Therefore I need to share the remaining 30% width between left and right margin (only the left one is needed) */
    margin-bottom: 20px;
    line-height: 150%; /* line interspace */
}

.box p {
    line-height: 125%;
}

/* ------------------------------*/
/* LINK */
/* ------------------------------*/

a:link,
a:visited {
    color: #f56200;
    text-decoration: none;
    padding-bottom: 1px;
    transition: opacity 0.2s, border-bottom 0.2s, color 0.2s; /* CSS3 for transitions when hovering */
}

a:active,
a:hover {
    color: #8f3900;
    border-bottom: 1px solid #f56200;
    opacity: 0.9;
}

/*  ************************************************************************************************************************* */
/*  HEADER */
/*  ************************************************************************************************************************* */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
    height: 100vh; /* 100% of the view display */
    background-size: cover; /* otherwise set to 'fill' */
    background-position: center;
}

.hero-text-box {
    position: absolute; /* necessary to set the title horizontally and vertically*/
    max-width: 1140px;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%); /* trick to correct the LEFT and TOP above */
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;   /* margin-top for both logo and navbar are static and based on personal prefrence */
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;  /* the standard way to format the navigation */
    margin-left: 40px;      /* the standard way to format the navigation */
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%; /* (16px) */
}

.main-nav li a:hover,
.main-nav li a:active {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #f56200;
    transition: color 0.2s, border-bottom 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%; /* (16px) */
}

/*  ************************************************************************************************************************* */
/*  section 1: "section-features" */
/*  ************************************************************************************************************************* */

.box {
    padding: 1%;
}

.wrapper {
    text-align: center; /* each element with display: inline-block; will be centered within (see icon-big) */
}
.icon-big {
    font-size: 150%;
    display: inline-block;
    color: #f56200;
    margin-bottom: 5px;
}

/*  ************************************************************************************************************************* */
/*  section 2: "section-meals" */
/*  ************************************************************************************************************************* */

.section-meals {
    padding: 0px 0px 0px 0px; /* look at the default values @html */
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meals-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; /* this will null the overflow effect dued to image magnification (1.25) */
    background-color: #000000; /* this is in order to see the images darkened due to opacity:0.7 */
}
.meals-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.25);/* this will get rid of the white stroke between the two images showcase */
    transition: transform 0.5s, opacity 0.5s; /* this dictates the transition effects: transform and opacity values will be defined in the img:hover */
    opacity: 0.7; /* this makes the images look darker (though I need to set the container background-color to black - see above)*/
}
.meals-photo img:hover {
    transform: scale(1.05); /* 1.05 in order to cover any white stroke effect when shrinking */
    opacity: 1.0; /* I want my image to 'come back to life' when hovering */
}

/*  ************************************************************************************************************************* */
/*  section 3: "section-steps" */
/*  ************************************************************************************************************************* */

.section-steps {
    background-color: #ebebeb;
}
.step-box:first-child {
    text-align: right; /* text-align works with all the in-line elements, like images, not only with texts */
    padding-right: 3%;
}

.step-box:last-child {
    padding-left: 3%;
    /* no need to add a 'text-align: left' cause it comes by default */
    margin-top: 40px;
}

.app-screen {
    width: 40%;
    height: auto;
}

.work-step {
    margin-bottom: 50px;
}

.work-step div {
    color: #f56200;
    border: 1px solid #383838;
    display: inline-block; /* this won't generate any line break */
    float: left; /* and this will align all the <div>1</div> with the <p> */
    height: 50px; /* the height and width is to set the <div> dimension (I can cause the diaplsy is inline-block) */
    width: 50px;
    border-radius: 50%; /* this is to make the squared border circular */
    text-align: center; /* this is to center the contents within */
    padding: 8px; /* this is to center the number */
    font-size: 150%; /* number size */
    font-weight: 200; /* number font weight */
    margin-right: 25px;
    margin-top: -5px; /* ME: align numbers and paragraphs*/
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-top: 50px;
}

.btn-app:link,
.btn-app:visited {
    border: none;
}

/*  ************************************************************************************************************************* */
/*  section 4: "section-cities" */
/*  ************************************************************************************************************************* */

.city-feature {
    text-align: left;
    line-height: 130%;
}
.city-feature img {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 130%;
    color: #f56200;
    /* to align icons and text */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
}

.city-feature p {
    display: inline-block;
    margin-left: 15px;
    font-size: 80%;
    font-weight: 200;
}

.city-feature a:link,
.city-feature a:visited {
    border-bottom: 1px solid #f56200;
}

.city-feature a:hover,
.city-feature a:active {
    border-bottom: none;
}
/*  ************************************************************************************************************************* */
/*  colors */
/*  ************************************************************************************************************************* */
/*
main orange         #f56200
secondary orange    #8f3900
p color             #383838
*/