/* all the margins and paddings are gone */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #222222;
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}